.corner-borders {
    position: relative;
    /* Allows positioning of pseudo-elements inside the container */
    padding-left: 1.25vw;
    /* Adds padding on the left */
    padding-right: 1.25vw;
    /* Adds padding on the right */
}

.corner-borders::before,
.corner-borders::after {
    content: '';
    /* Generates an empty content for the pseudo-elements */
    position: absolute;
    /* Positions the pseudo-elements absolutely */
    width: 15vw;
    /* Sets the width for the borders */
    height: 30%;
    /* Sets the height of the borders */
    background-color: transparent;
    /* Keeps the background transparent */
}

.corner-borders::before {
    top: 0;
    /* Positions the top border */
    left: 0;
    /* Positions the left border */
    border-top: 1vw solid #000000;
    /* Creates a top border */
    border-left: 1vw solid #000000;
    /* Creates a left border */
}

.corner-borders::after {
    bottom: 0;
    /* Positions the bottom border */
    right: 0;
    /* Positions the right border */
    border-bottom: 1vw solid #000000;
    /* Creates a bottom border */
    border-right: 1vw solid #000000;
    /* Creates a right border */
}

.main-banner {
    height: 17.5rem;
    /* Sets the height of the banner */
    width: 100%;
    /* Sets the width to cover the full width of the container */
    display: flex;
    /* Uses flexbox layout */
    justify-content: center;
    /* Centers the content horizontally */
    align-items: center;
    /* Centers the content vertically */
    background-color: #3CD2F9;
    /* Sets the background color */
}

h1 {
    font-size: 5.8vw !important;
    /* Sets the font size to be responsive based on viewport width */
}

h2 {
    font-size: 4.6vw !important;
}

h3 {
    font-size: 3vw !important;
}

.sub-banner {
    height: 10rem;
}

.sub-banner > .corner-borders {
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.sub-banner > .corner-borders::before,
.sub-banner > .corner-borders::after {
    height: 60%;
}

.conclusion-banner > .corner-borders::before,
.conclusion-banner > .corner-borders::after {
    width: 7.5vw;
}

a {
    cursor: pointer;
}

:root {
    --bs-border-width: 3px !important;
    --bs-border-color: #4AF3F8 !important;
}

figcaption {
    color: #868989;
}

.btn-primary {
    --bs-btn-color: #000000 !important;
    --bs-btn-bg: #4AF3F8 !important;
    --bs-btn-border-color: #4AF3F8 !important;
    --bs-btn-hover-color: #000000 !important;
    --bs-btn-hover-bg: #3CD2F9 !important;
    --bs-btn-hover-border-color: #3CD2F9 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
    --bs-btn-active-color: #000000 !important;
    --bs-btn-active-bg: #0950CD !important;
    --bs-btn-active-border-color: #0950CD !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #000000 !important;
    --bs-btn-disabled-bg: #4AF3F8 !important;
    --bs-btn-disabled-border-color: #4AF3F8 !important;
}

.fixed-top {
    background-image: linear-gradient(to bottom, #0950CD, transparent) !important;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topBtn {
    display: none;
    /* Initially hidden */
    position: fixed;
    /* Stays fixed on screen */
    bottom: 20px;
    /* Position from bottom */
    right: 30px;
    /* Position from right */
    z-index: 99;
    /* Ensures it's above other elements */
    border: none;
    outline: none;
    background-color: #0950CD;
    color: white;
    /* White text */
    cursor: pointer;
    padding: 15px;
    /* Adds padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Adjusts font size */
}

/* Back to top button hover effect */
#topBtn:hover {
    background-color: #04165D;
}

.navbar-nav {
    --bs-nav-link-color: #000000 !important;
    --bs-nav-link-hover-color: rgb(78 78 78) !important;
}